<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <title>All accounts</title>
    <style type='text/css'>
        table.test { border-collapse: collapse; }
        table.test td { border-bottom: 1px solid black;
            border-right: solid black 1px;
            border-left: solid black 1px;}
    </style>
</head>
<body>
<table class="test">
    <thead>
    <tr>
        <th> Id </th>
        <th> Login </th>
        <th> Password </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${accounts.empty}">
        <td> No Accounts available </td>
    </tr>
    <tr th:each="acc : ${accounts}">
        <td><span th:text="${acc.getId()}"> Id </span></td>
        <td><span th:text="${acc.login}"> Login </span></td>
        <td><span th:text="${acc.password}"> Password </span></td>
        <td>
            <form th:method="GET"th:action="@{/account/{id}/edit(id=${acc.getId()})}" th:object="${account}">
                <div>
                    <input type="submit" value="Edit account!">
                </div>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>