<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit account</title>
</head>
<body>
<form th:method="POST" th:action="@{/account/{id}(id=${account.getId()})}" th:object="${account}">
    <div>
        <label for="login">Login</label>
        <input type="text" th:field = "*{login}" id="login" >
        <br/>

        <label for="password">Password</label>
        <input type="text" th:field = "*{password}" id="password">
        <br/>

        <input type="submit" value="Update!">
    </div>
</form>
</body>
</html>