<!DOCTYPE html>
<html lang="en"
            xmlns="http://www.w3.org/1999/xhtml"
            xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new account</title>
</head>
<body>
<form th:method = "POST" th:action = "@{/account}" th:object = "${account}">
    <div>
        <label for="login">Login</label>
        <input type="text" th:field = "*{login}" id="login">
        <br/>

        <label for="password">Password</label>
        <input type="text" th:field = "*{password}" id="password">
        <br/>

        <input type="submit" value="Add account!">
    </div>
</form>
</body>
</html>